[Desktop Entry]
Name[ar]=ساعة منبهة
Name[ast]=Despertador
Name[be]=Будзільнік
Name[bg]=Будилник
Name[ca]=Despertador
Name[cs]=Budík
Name[da]=Vækkeur
Name[de]=Wecker
Name[el]=Ξυπνητήρι
Name[es]=Reloj despertador
Name[et]=Äratuskell
Name[fi]=Herätyskello
Name[fo]=Vekjari
Name[fr]=Réveil
Name[gl]=Reloxo de alarma
Name[he]=שעון מעורר
Name[hi]=अलार्म घड़ी
Name[hu]=Ébresztőóra
Name[id]=Jam Alarm
Name[ja]=アラーム時計
Name[ka]=მაღვიძარა
Name[ms]=Jam Penggera
Name[nb]=Alarmklokke
Name[nl]=Alarmklok
Name[nn]=Varslingsur
Name[pl]=Budzik
Name[pt_BR]=Alarme
Name[ru]=Будильник
Name[si]=සංඳාකිරීමේ ඔරලෝසුව
Name[sv]=Väckarklocka
Name[tr]=Çalar Saat
Name[uk]=Будильник
Name[zh_CN]=闹钟
Name[zh_TW]=Alarm Clock
Name=Alarm Clock
Comment[ar]=استيقظ في الصباح
Comment[ast]=Despertase pola mañana
Comment[be]=Абудзіць мяне ранкам
Comment[bg]=Събудете се сутринта
Comment[ca]=﻿Desperti's al matí
Comment[cs]=Ranní buzení
Comment[da]=Vågn om morgenen
Comment[de]=Morgens aufwecken
Comment[el]=Ξυπνήστε το πρωί
Comment[es]=Despiértese por la mañana
Comment[et]=Ärka ülesse hommikul
Comment[fi]=Herää jo!
Comment[fo]=Vakna á morgni
Comment[fr]=Se reveiller le matin
Comment[gl]=Espertarse pola mañan
Comment[he]=להתעורר בבוקר
Comment[hi]=सुबह में जग जाएँ
Comment[hu]=Reggeli ébresztő
Comment[id]=Bangun di pagi hari
Comment[ja]=朝起きる
Comment[ka]=დილით გაღვიძება
Comment[la]=Mane excita
Comment[ms]=Bangun pada waktu pagi
Comment[nb]=Våkne opp om morgenen
Comment[nl]=Wakker worden
Comment[nn]=Vakne om morgonen
Comment[pl]=Obudź się rano
Comment[pt_BR]=Acordar de manhã
Comment[pt]=Despertar de manhã
Comment[ru]=Вставайте по утрам
Comment[si]=උදෑසන පිබිදීම
Comment[sv]=Vakna på morgonen
Comment[tr]=Sabah uyandır
Comment[uk]=Прокидайтесь вчасно
Comment[zh_CN]=早晨唤醒
Comment[zh_TW]=早上醒來
Comment=Wake up in the morning
Icon=alarm-clock
Exec=alarm-clock-applet --hidden
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-Ubuntu-Gettext-Domain=alarm-clock
Hidden=True
